<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.github">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.github.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.github.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".provider.UserFavoriteProvider"
            android:authorities="com.example.github"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.github.READ_DATABASE"
            android:writePermission="com.example.github.WRITE_DATABASE" />

        <activity
            android:name=".ui.activity.SettingActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.FavoriteActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.DetailActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="@string/app_name"
            tools:ignore="ManifestResource" />

    </application>

</manifest>